div.datepicker {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 196px;
	height: 147px;
	position: absolute;
	cursor: default;
	top: 0;
	left: 0;
	display: none;
}
.datepickerContainer {
	background: #EEEEEE;
	position: absolute;
	top: 10px;
	left: 10px;
}
.datepickerBorderT {
	position: absolute;
	left: 10px;
	top: 0;
	right: 10px;
	height: 10px;
	background: url(../images/datepicker_t.png);
}
.datepickerBorderB {
	position: absolute;
	left: 10px;
	bottom: 0;
	right: 10px;
	height: 10px;
	background: url(../images/datepicker_b.png);
}
.datepickerBorderL {
	position: absolute;
	left: 0;
	bottom: 10px;
	top: 10px;
	width: 10px;
	background: url(../images/datepicker_l.png);
}
.datepickerBorderR {
	position: absolute;
	right: 0;
	bottom: 10px;
	top: 10px;
	width: 10px;
	background: url(../images/datepicker_r.png);
}
.datepickerBorderTL {
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	background: url(../images/datepicker_tl.png);
}
.datepickerBorderTR {
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background: url(../images/datepicker_tr.png);
}
.datepickerBorderBL {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 10px;
	height: 10px;
	background: url(../images/datepicker_bl.png);
}
.datepickerBorderBR {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background: url(../images/datepicker_br.png);
}
.datepickerHidden {
	display: none;
}
div.datepicker table {
	border-collapse:collapse;
	border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;
	border:0px;
}
div.datepicker a {
	color: white;
	text-decoration: none;
	cursor: default;
	outline: none;
	font-weight:bold;
}
div.datepicker table td {
	text-align: right;
	padding: 0;
	margin: 0;
	border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;
	border:0px;
	background-color:#8E8E8E;
}
div.datepicker th {
	padding: 0;
	margin: 0;
	text-align: center;
	color: #bbb;
	font-weight: normal;
	background-image:none;
	border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;
	border:0px;
	background-color:#8E8E8E;
}
div.datepicker tbody th {
	text-align: left;
}
div.datepicker tbody a {
	display: block;
}
.datepickerHour select { width:50px; font-weight:bold; font-size:10px; color: white; background-color:#8E8E8E; border-color:#aaa; }
div.datepicker .datepickerHour td { color: white; padding:4px 0px 4px 0px; }
.datepickerDays a,
.datepickerHour a {
	width: 20px;
	line-height: 16px;
	height: 16px;
	padding-right: 2px;
}
.datepickerYears a,
.datepickerMonths a{
	width: 44px;
	line-height: 36px;
	height: 36px;
	text-align: center;
}
td.datepickerNotInMonth a {
	color: #bbb;
	font-weight:normal;
}
tbody.datepickerDays td.datepickerSelected,
tbody.datepickerHour td.datepickerSelected{
	background: #D3EF95;
}
tbody.datepickerDays td.datepickerSelected a,
tbody.datepickerHour td.datepickerSelected a{
	color: #111111;
}
tbody.datepickerHour td.datepickerNotInMonth.datepickerSelected,
tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
	background: #D3EF95;
}
tbody.datepickerHour td.datepickerNotInMonth.datepickerSelected  a,
tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected  a{
	color: #333333;
}
tbody.datepickerYears td.datepickerSelected,
tbody.datepickerMonths td.datepickerSelected{
	background: #D3EF95;
}
div.datepicker a:hover {
	color: #88c5eb;
}
div.datepicker td.datepickerNotInMonth a:hover {
	color: #aaa;
}
div.datepicker tbody th {
	text-align: left;
}
.datepickerSpace div {
	width: 20px;
}
.datepickerGoNext a,
.datepickerGoPrev a,
.datepickerMonth a {
	text-align: center;
	height: 20px;
	line-height: 20px;
}
.datepickerGoNext a {
	float: right;
	width: 20px;
}
.datepickerGoPrev a {
	float: left;
	width: 20px;
}
table.datepickerViewHour tbody.datepickerMonths,
table.datepickerViewHour tbody.datepickerYears {
	display: none;
}
table.datepickerViewDays tbody.datepickerHour,
table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears {
	display: none;
}
table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerHour,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW {
	display: none;
}
table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerHour,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW {
	display: none;
}
td.datepickerDisabled a,
td.datepickerDisabled.datepickerNotInMonth a{
	color: #333;
}
td.datepickerDisabled a:hover {
	color: #333;
}
td.datepickerSpecial a {
	background: #6D96AF;
}
td.datepickerSpecial.datepickerSelected a {
	background: #D3EF95;
}
#widgetCalendar {
	position: absolute;
	top: 16px;
	left: 0;
	height: 0px;
	overflow: hidden;
	width: 588px;
	background: #8E8E8E;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
#widgetCalendar .datepicker {
	position: absolute;
	bottom: 0;
	top: auto;
}
#widgetCalendar .datepickerContainer,
#widgetCalendar .datepickerBorderT,
#widgetCalendar .datepickerBorderB,
#widgetCalendar .datepickerBorderL,
#widgetCalendar .datepickerBorderR,
#widgetCalendar .datepickerBorderTL,
#widgetCalendar .datepickerBorderTR,
#widgetCalendar .datepickerBorderBL,
#widgetCalendar .datepickerBorderBR {
	background: transparent !important;
}
#widgetCalendar .datepicker a:hover{
	color: #000;
}
#widget {
	position: relative;
}

