*{ margin: 0px; padding: 0px}  

a { cursor: pointer;}

body { background: #FFFFFF; }

.left { text-align:left;}


#container_center { width: 99%; margin:auto;}

table {
	border: none; 
	-moz-border-radius:0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	background: #FFFFFF;
}

td {border: none; font-size:10px;}


#tab_container {
	width:100%; 
	margin:auto;
	border: solid 1px #D2D2D2;
	border-radius-bottomright: 5px;
	border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-top: none;
	margin-bottom: 20px;
}
	
#tab_menu {
	width:100%; 
	margin:auto;
	border: none;
	/*border-left: solid 1px #D2D2D2;*/
	margin-top: 10px;
	border-collapse: collapse;
}

#oss_mcontainer { width: 100% }

#oss_clcontainer { width: 300px; vertical-align: top; }
#oss_crcontainer { border-left: solid 1px #D2D2D2; vertical-align: top;}

#tree_container_top {float: left; width:90%; margin: 10px; text-align: left; vertical-align:middle;}
#tree_container_bt  {float: left; margin: 5px 10px 10px 10px; text-align: left;}

.load_tree{
	padding-left: 5px; 
	display:none;
}

/* Tabs */

ul.oss_tabs {
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #D2D2D2;
	border-left: none;
	width: 100%;
	font-size: 12px;
    font-weight: bold;
}

ul.oss_tabs li {
	float: left;
	height: 31px;
	line-height: 31px;
	margin: 0 0.2em -1px 0;
	background: url("../../pixmaps/theme/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    border: 1px solid #D3D3D3;
    color: #555555;
    overflow: hidden;
	position: relative;
	border-radius: 4px;
	-khtml-b_order-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px; 
	
	border-radius-bottomright: 0px;
	border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-khtml-border-radius-bottomright: 0px;
	-khtml-border-radius-bottomleft: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
}
ul.oss_tabs li a {
	text-decoration: none;
	color: #555555;
	display: block;
	padding: 0 20px;
	outline: none;
}

ul.oss_tabs li a:hover {
	border-color: #999999; 
	background: #dadada url(../../pixmaps/theme/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; 
	color: #212121; 
	outline: none; 
}
	
html ul.oss_tabs li.active{
	border-color: #D2D2D2; 
	background: #ffffff url(../../pixmaps/theme/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
	color: #212121; 
	outline: none;
	border-bottom-color: #fff;
}

html ul.oss_tabs li.active a:hover  {
	border-radius: 4px;
	-khtml-b_order-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px; 
	border-color: #AAAAAA; 
	background: #ffffff url(../../pixmaps/theme/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
	color: #212121; 
	border-bottom-color: #fff;
	cursor:text;
}



/* Code Mirror */

.CodeMirror-line-numbers {
	width: 2.2em;
	color: #aaa;
	background-color: #eee;
	text-align: right;
	padding-right: .3em;
	font-size: 10pt;
	font-family: monospace;
	padding-top: .4em;
}

.CodeMirror-wrapping {border: solid 1px #D2D2D2;} 

#container_code { width: 93%; margin:10px auto; position:relative;}

.code {width: 100%; height: 300px;}


.save { 
	width:90px;
	padding-left: 15px;
	height:28px;
}

.save, .save_edit {
	background-color: #E3E3E3 !important;
	background-image: url("../images/database-ins.png") !important;
	background-repeat: no-repeat !important;
	background-position: 4px 49% !important;
	cursor: pointer !important;
	font-size: 12px !important;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: solid 1px #9F9F9F;
	text-align: left;
	font-weight: bold;
}

.save_edit { 
	border: solid 1px #9F9F9F;
	width: 80px;
	height:28px;
	padding-left: 24px;
}


.clone { 
background-color: #E3E3E3 !important;
	background-image: url("../images/clone.png") !important;
	background-repeat: no-repeat !important;
	background-position: 4px 49% !important;
	cursor: pointer;
	font-size: 11px !important;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: solid 1px #9F9F9F;
	text-transform: uppercase !important;
	text-align: left;
	font-weight: bold;
	width:85px;
	padding-left: 15px;
	height:28px;
}


#rules {
	width: 210px;
	height: 25px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	 padding:5px 5px 2px 5px;
	 text-align: left;
}

#rules option {padding-left: 10px;}


input[class='save']:hover , input[class='clone']:hover, input[class='save_edit']:hover { 
	background-color: #b5d2ad !important;
	color: #000000 !important;
	cursor: pointer;
}

#dis_send { 
	background-color: #E3E3E3 !important;
	background-image: url("../images/database-ins.png") !important;
	background-repeat: no-repeat !important;
	background-position: 4px 49% !important;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5; 
	cursor: default;
}

#dis_send:hover{
	border: solid 1px #9F9F9F !important;
	color: #222222 !important;
	background-color: #E3E3E3 !important;
	filter:alpha(opacity=50) !important;
	-moz-opacity:0.5 !important;
	-khtml-opacity: 0.5 !important;
	opacity: 0.5 !important; 
	cursor: default;
}
}

#tabs_post { float: left;}

#results_container {
	position: relative;
	text-align:center;
	width: 100%;
	height: 1px;
}

#results {
	height: 50px;
	background: transparent;
	margin: auto;
	position: absolute;
	top: -58px;
	left: 0px;
	width: 100%;
	z-index: 100;
}

.buttons_box {	
	float: right;
	width: 50%;
	padding: 10px 30px 20px 30px;
	height: 60px;
}

.buttons_box  div {float: right; width: 200px; text-align: right; }

.notice {
	text-align:center; 
	margin: auto; 
	width:98%; 
	position:relative;
	clear:both;
}

.notice div { 
	width: 100%; 
	position: absolute; 
	bottom: 25px; 
	right: 0px; 
	font-size: 10px; 
}
.notice span {font-style: italic;}

#results_center {
	margin-top: 10px;
	height: 1px;
	background: transparent;
	margin: auto;
	text-align: center;
}


.info_file{
	margin: auto;
	width: 700px;
}


/* Messages*/

#msg_edit { text-align:center;}

#msg_init  {
	width: 95%; 
	margin: auto; 
	font-size: 12px; 
	font-style: bold; 
	margin: 150px auto 290px auto;
	text-align: center;
}

#msg_init_error {
	width: 95%; 
	margin: auto; 
	font-size: 12px; 
	font-style: bold; 
	margin: 30px auto 150px auto;
	text-align: left;
}
	
#msg_init  span{font-size: 14px; font-weight: bold;}

#msg_load {
	text-align: center;
	padding: 150px 0px;
	margin: auto;
	font-size: 12px;
	font-weight: bold;
	width: 98%;
	height: 179px;
	clear:both;
}


#msg_load span {
	padding-left: 10px;
}

#msg_errors {
	text-align: left;
	margin: 20px 10px 20px 60px;
	font-size: 11px;
	width: 88%;
	display: none;
	color: #333333;
}

#parse_errors { width: 90%;} 
#parse_errors a  {color: #333333;}
	
	
.oss_info, .oss_success, .oss_alert, .oss_error {
    font-family:Arial, Helvetica, sans-serif; 
    font-size:13px;
    border: 1px solid;
    margin: 10px auto;
    padding:10px 0px;
    background-repeat: no-repeat;
    background-position: 10px center;
	width: 100%;
}

.oss_info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/info.png');
}
.oss_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/success.png');
}
.oss_alert {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/alert.png');
}
.oss_error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}

.errors_xml {
	padding-left: 70px;
	color: #333333;
	overflow-x : hidden;
}

.errors_ossec {
	padding-left: 70px;
	text-align: left;
	color: #333333;
	overflow-x : hidden;
}

#edit_container {
	width: 98%;
	margin: 10px auto 20px auto;
	text-align: center;
}


textarea {
    color: #222;
    background: #fdfdfd;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size:  8pt;
	width: 99%;
	border: none;
	height: 25px;	
}

.n_input {  
	color: #222;
	background: #fdfdfd;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size:  8pt;
	width: 98%;
	height: 98%;
	border: none;
	background: transparent;
	text-align:left;
}

.read_only {  
	color: #222;
	background: #fdfdfd;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size:  8pt;
	font-weight: normal;
	border: none;
	background: transparent;
	text-align:left;
	width: 98%;
	height: 98%;
	padding: 0px 5px;
	margin:auto;
}

.n_name { 
	width: 20%; 
	font-weight: bold; 
	background: #cccccc url(../images/fondo_hdr2.png) repeat-x;
	background-color: #FFFFFF;
	white-space:nowrap;word-wrap:nowrap; 
	padding:0px 10px 0px 10px; 
	border: 1px solid #aaaaaa; 
	font-size: 11px; 
	color: #222222; 
	text-align: center; 
	border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.n_node { 
	width: auto; 
	color: #222;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size:  8pt;
	text-align: left;
	font-weight: normal;
}

.n_clone { 
	height: 25px;
	color: #222;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size:  8pt;
	text-align: left;
	font-weight: normal;
}

.new_name {
	text-align: left; 
	font-size: 11px;
	line-height: 20px;
}

.n_value .container_txt_at {
	text-align: left; 
	font-size: 11px;
}

.n_value {
	border: 1px solid rgb(170, 170, 170); 
	border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px; 
	height: 20px;
}

#header_rule{ 
	width: 100%;
	background: transparent url(../images/background_col.gif) repeat-x scroll 50% 50%; 
	border: 1px solid rgb(170, 170, 170); 
	margin-bottom: 10px;
	border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px; 
}

.rule_title, .at_header, .txt_node_header{ 
	padding:5px; 
	background: transparent url(../images/background_col.gif) repeat-x scroll 50% 50%; 
	color: rgb(34, 34, 34); 
	font-size: 12px; 
	font-weight: bold; 
	line-height: 16px;
	border: none;
}

.at_header , .txt_node_header{ border: 1px solid rgb(170, 170, 170); text-align: left;}

.at_header span, .txt_node_header span {padding-left: 5px;}

.er_container{ 
	padding:5px; 
	color: rgb(34, 34, 34); 
	font-size: 12px; 
	font-weight: bold; 
	line-height: 16px;
	width: 100%;
	margin-bottom: 20px;
}

.r_subheader { height: 20px; font-weight: bold;}

.actions_at, .actions_node, .actions_tn  { width: 80px;}

.actions_bt_at, .actions_bt_tn, .actions_bt_node {
	border-radius: 5px;
	-khtml-b_order-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px; 
	border: 1px solid #888888; 
	padding: 2px 0px 2px 0px;
	margin: auto;
	text-align: center;
}

.actions_bt_at img, .actions_bt_tn img, .actions_bt_node img { width: 16px; height: 16px; margin: auto; padding: 2px; border: none; }


.cont_ats_txt_node{ 
padding: 0px 0px 10px 30px; 
width: 90%; 
font-size: 10px;
} 

.txt_node_header .fleft { float: left; width: 80%;  font-size: 11px;}

.txt_node_header .fright {float: right; width: 18%;}

.reload { font-weight: bold; padding-left: 3px;}

.unbind img, .dis_icon {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5; 
}


 
/* Dynatree */

div.ui-dynatree-container div span {float:none;}
 
 
/* Agent control*/ 


#agent_table {width: 80%; margin: 10px auto; background: transparent;}
#agent_actions {width: 80%; margin: 10px auto; background: transparent; border: none;}
#agent_table th {text-align: center; height: 20px; font-size: 12px;}
#agent_table td {text-align: left; height: 20px; border-bottom: solid 1px #CCCCCC; font-size: 12px; padding: 3px;}
.agent_actions { width: 80px; margin: auto;}
.agent_actions  img{padding-left: 3px; }
.info_agent { margin: 30px auto; text-align: center;}
.info_content {text-align: center; padding: 5px; background: #FFFFFF !important;}
.info div {text-align: center;}
th { height: 15px;}
#show_agent { color: #22222; font-size: 12px;}
#show_agent span {padding-left: 5px;}


#cont_add_agent {width: 80; margin: auto; display:none;}
		
#cont_add_agent table 
{
	width: 450px; 
	text-align: left;
	border: none;
	padding: 5px 0px;
	background: #FFFFFF;
}
#cont_add_agent table th {width: 150px; padding:5px 0px;}

.cont_send { text-align:center; padding:5px 0px 10px 0px;}

.error_left, .agent_key {width: 100%; text-align:left !important; margin-left: 60px;}

#cont_commom_ac {width: 120px; text-align:left; }

.commom_ac { text-align:left !important; padding: 0px !important;}

.oss_load {
	position:absolute;
	top: -25px;
	left: 140px;
	text-align: left; 
	width: 85%; 
}
.cont_oss_load {position:relative;}




/* Config Section */

.oss_cnf_container{ vertical-align: top; }

#cnf_load {
	width:100%; 
	margin:auto;
	margin-top: 150px;
	margin-bottom: 150px;
}

#cnf_load span {padding-left: 5px; font-size: 12px;}

#cnf_message {width: 90%; position: relative; margin:3px auto 0px auto; padding: 10px 0px;}

.cnf_rules_table { width: 60%; margin:auto;}

.cnf_norules { margin: 20px auto;}

.cnf_rule_title { 
	
	background: url("../../pixmaps/theme/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCCCCC;
	-moz-border-radius:4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	height: 25px;
	color:#222222;
	font-size: 12px;
	font-weight: bold;
}

#cnf_wait_save{
	position: absolute;
	top: 10px;
	left: 0px;
}

.header_node_xml{
	padding: 3px 5px;
	font-size: 11px;
	width:100%;
	text-align: left;
}

.cont_node_xml{
	padding: 0px 3px 10px 3px;
	width:98%;
	margin: auto;
}

.oss_hide, .oss_show {display:none; }
.txt_rule_format {width: 98%;}

.show_node_error {
	color: #D8000C; 
	margin: auto; 
	text-align:center; 
	padding: 2px 0px 10px 0px; 
	font-size:11px;
}


