Source: ossim
Section: net
Priority: optional
Maintainer: AlienVault <devel@ossim.net>
Build-Depends: debhelper (>= 5.0.37.2), docbook-to-man, libglib2.0-dev (>= 2.4.6), libgda2-dev (>= 1.0.4), libgnet-dev (>= 2.0.4), zlib1g-dev, automake, python-all-dev, python-support, gettext, dpatch, libssl-dev
Standards-Version: 3.7.2

Package: ossim
Architecture: all
Depends: ossim-agent, ossim-framework (= ${binary:Version}), ossim-framework-daemon (= ${binary:Version}), ossim-server, ossim-mysql (= ${binary:Version}), ossim-contrib (= ${binary:Version})
Description: Open Source Security Information Management (Meta-package)

Package: ossim-mysql
Architecture: all
Depends: ${misc:Depends}, mysql-server | virtual-mysql-server | mysql-server-5.1, alienvault-policies, alienvault-dummy-database
Suggests: ossim-contrib
Description: Open Source Security Information Management (MySQL)
 OSSIM is a distribution of open source products that are integrated
 to provide an infrastructure for security monitoring. It provides a
 framework for centralizing, organizing, and improving detection and
 display for monitoring security events.
 .
 OSSIM unify network monitoring, security, correlation and 
 qualification in one single tool.
 .
 This package contains the MySQL tables needed to fill the Ossim database.
 .
 Homepage: http://www.ossim.net

Package: ossim-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gda2-mysql | gda2-postgres, sudo, lsb-base (>= 3.0-6), ossim-database-migration, alienvault-directives-free, alienvault-dummy-server
Pre-Depends: postpone
Suggests: ossim-contrib
Description: Open Source Security Information Management (Server)
 OSSIM is a distribution of open source products that are integrated
 to provide an infrastructure for security monitoring. It provides a
 framework for centralizing, organizing, and improving detection and
 display for monitoring security events.
 .
 OSSIM unify network monitoring, security, correlation and 
 qualification in one single tool.
 .
 This package contains the correlation engine server of OSSIM.
 .
 Homepage: http://www.ossim.net 
 
Package: ossim-framework
Architecture: all
Depends: ${misc:Depends}, ossim-framework-daemon (>= ${binary:Version}), libphp-adodb (>= 4.21), php5-mysql, php5-gd, php5-xsl, php5-mcrypt, rrdtool (>= 1.1.0), librrdp-perl (>= 1.1.0), librrds-perl (>= 1.1.0), nmap, php-fpdf (>= 1.52), libphp-jpgraph (>= 1.5.2), phpgacl (>= 3.3.4), php-xajax, ttf-bitstream-vera, ossim-utils (>= ${binary:Version}), lsb-base (>= 3.0-6), ossim-geoip, libcrypt-cbc-perl, libmime-lite-perl, libdate-calc-perl, php-soap, libcrypt-blowfish-perl, libdate-manip-perl, libapache2-mod-proxy-html, nfsen, ossim-compliance, libclass-methodmaker-perl, binutils, alienvault-dummy-framework
Suggests: ossim-contrib, nessus, nessus-plugins
Description: Open Source Security Information Management (Framework)
 OSSIM Framework

Package: ossim-framework-daemon
Architecture: all
Depends: ${python:Depends}, python-adodb, python-mysqldb | python-pgsql, python-rrd, python-pycurl, ossim-framework (= ${binary:Version})
Conflicts: ossim-framework (<< 0.9.8-14)
Description: Open Source Security Information Management (Framework Daemon)
 Ossim Framework Daemon

Package: ossim-utils
Architecture: all
Depends: ${misc:Depends}, perl (>= 5.8.4), libcompress-zlib-perl, libdbi-perl, libdbd-mysql-perl, librrds-perl (>= 1.1.0), libcrypt-cbc-perl, libmime-lite-perl, libdate-calc-perl
Suggests: ossim-contrib
Description: Open Source Security Information Management (Utils)
 OSSIM is a distribution of open source products that are integrated
 to provide an infrastructure for security monitoring. It provides a
 framework for centralizing, organizing, and improving detection and
 display for monitoring security events.
 .
 OSSIM unify network monitoring, security, correlation and 
 qualification in one single tool.
 .
 Homepage: http://www.ossim.net

Package: ossim-contrib
Architecture: all
Description: Open Source Security Information Management (Contrib)
 OSSIM is a distribution of open source products that are integrated
 to provide an infrastructure for security monitoring. It provides a
 framework for centralizing, organizing, and improving detection and
 display for monitoring security events.
 .
 OSSIM unify network monitoring, security, correlation and 
 qualification in one single tool.
 .
 This package contains a set of patches, examples and configuration
 files used by the ossim distribution. This package is only useful
 for development purposes.
 .
 Homepage: http://www.ossim.net

